<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <!-- 使用Resource, PostConstruct,PreDestroy等注解-->
    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>
    <!--使用Autowired注解-->
    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
    <!--使用require注解-->
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
    <!-- 使用下面的标签，上面的注解都包括
    <context:annotation-config/>-->
    <!--使用下面的标签，包含了自动注入上述processor的功能，所以上面的注解都可以不用
    <context:component-scan base-package="com.liu.springtest.lifecycletest"/>-->

    
    <bean id="initSequenceBean" class="com.liu.springtest.lifecycletest.InitSequenceBean" init-method="initMethod"/>


    <!-- 属性编辑器的学习 start-->
    <bean id="userManager" class="com.liu.springtest.springPropertyEditor.UserManager">
        <property name="dataValue" value="2017-12-14"/><!--dataValue是date类型，这里直接指定为string类型，会有类型转换错误-->
    </bean>

    <!-- 第一种方法：解决类型转换错误 -->
    <!--<bean id="customEditorConfigurer" class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                <entry key="java.util.Date">
                    <bean class="com.liu.springtest.springPropertyEditor.method1"/>
                </entry>
            </map>
        </property>
    </bean>-->

    <!--第二种方法：注册spring自带的属性编辑器-->
    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="propertyEditorRegistrars">
            <list>
                <bean class="com.liu.springtest.springPropertyEditor.method2"/>
            </list>
        </property>
    </bean>
    <!-- 属性编辑器的学习 end-->

</beans>