<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="GameSwitch">
    <resultMap id="BaseResultMap" type="GameSwitch">

        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="switch_type" property="switchType" jdbcType="TINYINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="modify_user" property="modifyUser" jdbcType="VARCHAR"/>
        <result column="yn" property="yn" jdbcType="TINYINT"/>
        <result column="modified" property="modified" jdbcType="TIMESTAMP"/>
        <result column="created" property="created" jdbcType="TIMESTAMP"/>
        <result column="memo" property="memo" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">

    id,switch_type, name, status, modify_user, yn, modified, created, memo
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from game_switch
        where id = #{id,jdbcType=BIGINT}        and yn=1
    </select>
    <select id="querySwitchAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from game_switch
        where yn = 1
    </select>
    <select id="queryStatusByType" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        select  status
        from game_switch
        where switch_type = #{switchType,jdbcType=TINYINT} and yn = 1
    </select>

    <insert id="insertSwitch" parameterType="GameSwitch">
    insert into game_switch (id, name, status,
      modify_user, yn, modified, 
      created,switch_type)
    values (#{id}, #{name}, 1,
     #{modifyUser},1, now(),
      now(),#{switchType})
  </insert>
    <update id="updateSwitchStatsByType" parameterType="GameSwitch">
    update game_switch
    set status = #{status,jdbcType=TINYINT}
    where switch_type = #{switchType,jdbcType=TINYINT} and yn = 1
  </update>
    <select id="querySwitchByType" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from game_switch
        where yn =1 and switch_type = #{switchType}
    </select>

    <update id="updateSwitchMemoByType" parameterType="GameSwitch">
        update game_switch
        set memo = #{memo}
        where switch_type = #{switchType} and yn = 1
    </update>
</mapper>